// Base Styles

body
  margin: 0
  font-family: "Open Sans", sans-serif

h1
  color: #383c42
  font-weight: 300
  user-select: none

p
  color: black
  user-select: none


h1,p
  z-index: 4
  position: relative

h2
  user-select: none

hr
  z-index: 4
  height: 2px
  background-color: black

figure
  margin: auto

.content
  position: relative
  background: white
  margin-bottom: 265px
  overflow: hidden
  z-index: 3

  article
    padding: 100px 0
    max-width: 800px
    margin: 0 auto
    text-align: center

img
  max-width: 100%



// Parallax

.head-box
  position: relative
  height: 687px
  background: 
    size: cover
    color: #000816
    //image: url(../images/LP_Stardust_bkg2.png)
    position: top center
    attachment: fixed
  overflow: hidden
  z-index: 4

.globe
  height: 600px
  width: 100%
  // background:
  //   size: contain
  //   image: url(../images/globeImg.png)
  //   position: center
  //   repeat: no-repeat
  position: absolute
  top: 35%
  left: 5%
  margin-top: -50px
  color: white
  font-size: 60px
  font-weight: 800
  font-family: 'Poppins', sans-serif
  user-select: none

// .logo
//   width: 100%
//   height: 200px
//   background:
//     size: contain 
//     image: url(../images/logographic.png)
//     repeat: no-repeat
//     position: bottom
//   position: absolute
//   left: 1.5%
//   margin-left: -12px
//   top: 500px

.back-img
  width: 100%
  height: 100%
  background: 
    size: cover
    //image: url(../images/LP_header_resized.min.dark.png)
    repeat: no-repeat
    position: top center
    attachment: fixed
  position: absolute
  // filter: blur(3px)

.team, .advisors
  width: 100%
  margin: 0 auto
  figure
    margin-bottom: 20px
    position: relative
    opacity: 0
    transform: translateX(30px)
    transition: all 0.4s ease-in-out
    overflow: hidden
    cursor: pointer

    &.is-showing
      opacity: 1
      transform: translateX(0px)

    img
      display: block
      transition: all 0.3s ease-in-out
      transform: scale(1) 

    &:hover
      figcaption
        left: 0%
      
      img
        transform: scale(1.1)

    figcaption
      position: relative
      bottom: 0px
      // left: -100%
      background: black
      color: white
      padding: 0px 8px
      font-size: 14px
      transition: all 0.3s ease-in-out

//periscope
.large-window
  height: 600px
  width: 600px
  border-radius: 50%
  background: 
    image: url("../images/LPx-Artboard 1-500px.png")
    repeat: repeat-y
    position: center 0px
    size: contain
    attachment: fixed
  position: relative
  margin: 0 auto
  
  .window-tint
    background-color: rgba(0,0,0,0.7)
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center

    .promo-text
      opacity: 1
      color: white
      font-weight: 100
      font-size: 50px
      line-height: 1.2
      user-select: none

      strong
        display: block
        font-size: 30px

        span
          font:
            weight: 300
            size: 18px
            style: italic
          color: rgb(255,255,255)

      .window-cta
        font-size: 20px
        text-decoration: none
        color: white
        border: 1px solid white
        padding: 10px 20px
        transition: all 0.3s ease-in-out

        &:hover
          background: white
          color: black


//posts

.blog-posts
  margin-top: 100px
  margin-bottom: 100px

  .post
    border: 1px solid #e1e1e1
    padding: 20px 20px 0
    background: white
    position: relative

  .post-1
    transform: translate(100px, 20px)

  .post-2 
    z-index: 2

  .post-3
    transform: translate(-100px, 20px)

//footer

footer
  background:
    color: #000816
    image: url(../images/pattern_dark.png)
  color: white
  padding-bottom: 40px
  position: fixed
  bottom: 0
  width: 100%
  z-index: -1

  .footer-stuff
    max-width: 700px
    margin: 0 auto

  a 
    color: white
    text-decoration: none

.cap
  margin-top: 25px
  color: white
  text-align: left

.cap > ul > li
  text-align: left

.footer-para
  text-align: left
  color: white




// particle js styles
// reset

canvas 
  display: block


// particles.js container

#particles-js 
  position: absolute
  width: 100%
  height: 100%
  opacity: 0.9
  background-color: #fff
  //background-image: url("/images/pattern_light.png")
  background-image: url("")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  top: 0
  left: 0

  .particle-container
    position: absolute
    z-index: -1
    left: 10%
    user-select: none


input
  color: black



//Tabs

.tab-box
  display: block
  position: sticky
  text-align: center
  top: 0
  background: #000816
  z-index: 5
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-template-areas: 'home product documents blog contact'
  


.tabs
  color: #f1f1f1
  text-align: center
  padding: 10px
  margin: 0 10px
  border-radius: 0 0 15px 15px
  font-size: 16px
  font-weight: 800

a
  text-decoration: none

.tabs:hover
  transition: all 0.4s ease-in-out
  background-color: #f1f1f1
  color: #000816

.home
  grid-area: home

.product
  grid-area: product

.documents
  grid-area: documents

// .partners
//   grid-area: partners

.blog
  grid-area: blog

.contact
  grid-area: contact


//Shadows
.post, .row > figure
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.20) , 0 0.2em 1em rgba(0, 0, 0, 0.19) !important

.post:hover
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important

.tab-box
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.ecosystem, .roadmap
  position: relative

.f-container
  font-size: 14px
  position: relative
  width: 1000px
  margin: 0 auto
  left: -100px
  overflow: none

  
.f-row
  position: relative
  z-index: 4

.f-item

.f-image

.f-text > strong
  font-size: 18px

.team-desp
  padding: 20px

.float-btn
  width: 70px
  height: 70px
  border-radius: 50%
  background-color: #f1f1f1
  position: fixed
  z-index: 6
  bottom: 20px
  right: 20px
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important


.telegram-logo
  position: relative
  left: 10%
  top: 15%
  fill: #021f4f

.telegram-logo:hover
  fill: #115bd8

.sub-box
  display: none
  z-index: 7
  width: 100%
  height: 100%
  position: absolute
  font-size: 70px
  background-color: #fff
