//Color Variables
$h1-color: #383c42
$primary-color: white
$secondary-color: black
$tab-color: #f1f1f1
$accent-color: #000816
$telegram-color: #021f4f
$telegram-selected-color: #115bd8
$post-border-color: #e1e1e1
$bold-font: 'Poppins', sans-serif

  
// Base Styles

body
  margin: 0
  font-family: "Open Sans", sans-serif

h1
  color: $h1-color
  font-weight: 300
  user-select: none

p
  color: $secondary-color
  user-select: none


h1,p
  z-index: 4
  position: relative

h2
  user-select: none

hr
  z-index: 4
  height: 2px
  background-color: $secondary-color

figure
  margin: auto

.content
  position: relative
  background: $primary-color
  margin-bottom: 265px
  overflow: hidden
  z-index: 3

  article
    padding: 100px 0
    max-width: 800px
    margin: 0 auto
    text-align: center

img
  max-width: 100%



// Parallax

.head-box
  position: relative
  height: 687px
  background: 
    size: cover
    color: $accent-color
    // image: url(../images/LP_header_resized.min.dark.png)
    position: top center
    attachment: fixed
  overflow: hidden
  z-index: 4

#head_vd
  width: 100%
  height: 100%

.globe
  height: 600px
  width: 100%
  // background:
  //   size: contain
  //   image: url(../images/globeImg.png)
  //   position: center
  //   repeat: no-repeat
  position: absolute
  top: 35%
  left: 5%
  margin-top: -50px
  color: $primary-color
  font-size: 60px
  font-weight: 800
  font-family: $bold-font
  user-select: none

.head-desp
  color: $primary-color
  font-size: 30px

// .logo
//   width: 100%
//   height: 200px
//   background:
//     size: contain 
//     image: url(../images/logographic.png)
//     repeat: no-repeat
//     position: bottom
//   position: absolute
//   left: 1.5%
//   margin-left: -12px
//   top: 500px

.back-img
  width: 100%
  height: 100%
  background: 
    size: cover
    //image: url(../images/LP_header_resized.min.dark.png)
    repeat: no-repeat
    position: top center
    attachment: fixed
  position: absolute
  // filter: blur(3px)

.lattice-intro
  text-transform: uppercase
  font-weight: 600

.team, .advisors
  width: 100%
  margin: 0 auto
  figure
    margin-bottom: 20px
    position: relative
    opacity: 0
    transform: translateX(30px)
    transition: all 0.4s ease-in-out
    overflow: hidden
    cursor: pointer

    &.is-showing
      opacity: 1
      transform: translateX(0px)

    img
      display: block
      transition: all 0.3s ease-in-out
      transform: scale(1) 

    &:hover
      figcaption
        left: 0%
      
      img
        transform: scale(1.1)

    figcaption
      position: relative
      bottom: 0px
      // left: -100%
      background: $secondary-color
      color: $primary-color
      padding: 0px 8px
      font-size: 14px
      transition: all 0.3s ease-in-out

//periscope
.large-window
  height: 600px
  width: 600px
  border-radius: 50%
  background: 
    image: url("../images/LPx-Artboard 1-500px.png")
    repeat: repeat-y
    position: center 0px
    size: contain
    attachment: fixed
  position: relative
  margin: 0 auto
  
  .window-tint
    background-color: rgba(0,0,0,0.7)
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center

    .promo-text
      opacity: 1
      color: $primary-color
      font-weight: 100
      font-size: 50px
      line-height: 1.2
      user-select: none

      strong
        display: block
        font-size: 30px

        span
          font:
            weight: 300
            size: 18px
            style: italic
          color: $primary-color

      .window-cta
        font-size: 20px
        text-decoration: none
        color: $primary-color
        border: 1px solid $primary-color
        padding: 10px 20px
        transition: all 0.3s ease-in-out

        &:hover
          background: $primary-color
          color: $secondary-color


//posts

.blog-posts
  margin-top: 100px
  margin-bottom: 100px

  .post
    border: 1px solid $post-border-color
    padding: 20px 20px 0
    background: $primary-color
    position: relative

  .img-box
    width: 100%
    height: 200px
    overflow: hidden

    img

  .post-1
    transform: translate(100px, 20px)

  .post-2 
    z-index: 2

  .post-3
    transform: translate(-100px, 20px)

//footer

footer
  background:
    color: $accent-color
    image: url(../images/pattern_dark.png)
  color: $primary-color
  padding-bottom: 40px
  position: fixed
  bottom: 0
  width: 100%
  z-index: -1

  .footer-stuff
    max-width: 700px
    margin: 0 auto

  a 
    color: $primary-color
    text-decoration: none

.cap
  margin-top: 25px
  color: $primary-color
  text-align: left

.cap > ul > li
  text-align: left

.footer-para
  text-align: left
  color: $primary-color




// particle js styles
// reset

canvas 
  display: block


// particles.js container

#particles-js 
  position: absolute
  width: 100%
  height: 100%
  opacity: 0.9
  background-color: $primary-color
  //background-image: url("/images/pattern_light.png")
  background-image: url("")
  background-repeat: no-repeat
  background-size: cover
  background-position: 50% 50%
  top: 0
  left: 0

  .particle-container
    position: absolute
    z-index: -1
    left: 10%
    user-select: none


input
  color: $secondary-color



//Tabs

.tab-box
  position: sticky
  text-align: center
  top: 0
  background: $accent-color
  z-index: 5
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-template-areas: 'home product documents blog contact'
  


.tabs
  color: $tab-color
  text-align: center
  padding: 10px
  margin: 0 10px
  border-radius: 0 0 15px 15px
  font-size: 16px
  font-weight: 800

a
  text-decoration: none

.tabs:hover
  transition: all 0.4s ease-in-out
  background-color: $tab-color
  color: $accent-color

.home
  grid-area: home

.product
  grid-area: product

.documents
  grid-area: documents

// .partners
//   grid-area: partners

.blog
  grid-area: blog

.contact
  grid-area: contact



//Shadows
.post, .row > figure
  box-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.20) , 0 0.2em 1em rgba(0, 0, 0, 0.19) !important

.post:hover
  transition: all 0.3s cubic-bezier(.25,.8,.25,1)
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important

.tab-box
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

.ecosystem, .roadmap
  position: relative



.team-desp
  padding: 20px

.float-btn
  width: 70px
  height: 70px
  border-radius: 50%
  background-color: $tab-color
  position: fixed
  z-index: 6
  bottom: 20px
  right: 20px
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important


.telegram-logo
  position: relative
  left: 10%
  top: 15%
  fill: $telegram-color

.telegram-logo:hover
  fill: $telegram-selected-color



//Subscription box

/* The Modal (background) */
.modal 
  display: none //Hidden by default
  position: fixed //Stay in place
  z-index: 10 //Sit on top
  padding-top: 100px //Location of the box
  left: 0
  top: 0
  width: 100% //Full width
  height: 100% //Full height
  overflow: auto //Enable scroll if needed
  background-color: $tab-color //Fallback color
  background-color: rgba(0,0,0,0.6) //Black w/ opacity


/* Modal Content */
.modal-content 
  position: relative
  background-color: $tab-color
  margin: auto
  padding: 0
  width: 600px
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
  -webkit-animation-name: animatetop
  -webkit-animation-duration: 0.4s
  animation-name: animatetop
  animation-duration: 0.4s


/* Add Animation
@-webkit-keyframes animatetop
  from
    top: -300px
    opacity: 0

  to
    top: 0
    opacity: 1


@keyframes animatetop
  from
    top: -300px
    opacity: 0

  to
    top: 0
    opacity: 1


/* The Close Button */
.close 
  color: $accent-color
  float: right
  font-size: 28px
  font-weight: bold


.close:hover, .close:focus 
  color: $telegram-selected-color
  text-decoration: none
  cursor: pointer


.modal-header 
  padding: 16px 16px 0 16px
  background-color: $tab-color

  p
    display: flex
    color: $accent-color
    text-align: center
    font-family: $bold-font
    font-weight: 700
    font-size: 40px
    justify-content: center


.modal-body 
  padding: 16px 16px 0 16px
  text-align: center
  font-size: 18px

.modal-footer 
  padding: 0 20px
  padding-bottom: 5px
  background-color: $tab-color
  color: $accent-color

.modal_sub_btn > input
  display: block
  margin: 0 auto 
  padding-bottom: 5px


.f-container
  font-size: 14px
  position: relative
  max-width: 1000px
  margin: 0 auto
  overflow: none

  
.f-row
  position: relative
  z-index: 4

.f-text > strong
  font-size: 18px




@media(max-width: 600px)
  .team
    max-width: 70%
    justify-content: space-around

  .blog-posts
    padding: 16px
    justify-content: space-around
    
    .post-1, .post-3
      transform: none

@media(max-width: 550px)
  .f-item
    padding: 16px
    display: block

  .f-image > img
    display: block
    max-width: 100px
    margin: 0 auto
    padding: 16px

  .f-container
    padding: 16px




.menu
  font-size: 30px
  color: $tab-color
  display: none


@media(max-width: 800px)

  .menu
    display: block
    text-align: right
    padding-right: 16px

  .head-name
    display: inline
    position: absolute
    text-align: left
    text-transform: uppercase
    font-size: 20px
    left: 30px
    top: 7px

  .tabs
    display: none
   
  
  .tab-box
    display: block
    position: sticky
    width: 100%

  #head_vd
    display: none
  
  #particles-js
    display: none

  hr
    opacity: 0.15

  .globe
    font-size: 50px

  .lattice-intro
    padding: 0 30px

  .modal-content
    width: 90%
    
  .modal-header
    font-size: 25px

  .modal-footer
    padding: 16px 16px 1px 16px


  footer
    position: relative
    padding-bottom: 5px

    .footer-stuff
      padding: 0 16px
 

  
  .content
    margin-bottom: 0px

  .head-box
    background-image: url(../images/LP_header_resized.min.dark.png)

